<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On

    # Manejar cabecera de autorización
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Redirigir si hay barra al final (trailing slash) y no es carpeta
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # --- AQUÍ ESTÁ LA MAGIA QUE TE FALTA ---
    # Si el archivo solicitado NO es un directorio (!-d)
    RewriteCond %{REQUEST_FILENAME} !-d
    # Y si el archivo solicitado NO es un archivo real (!-f)
    RewriteCond %{REQUEST_FILENAME} !-f
    # ENTOCES envíalo al index.php
    RewriteRule ^ index.php [L]
</IfModule>